.App {
  text-align: center;
}

.App-logo {
margin-top:2rem;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
margin:1rem;
padding-bottom:1rem;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
font-size:1rem;
padding: 1rem;
margin: .5rem;
background:#35acce;
}
#title {
text-align:center;
color: #fff;
}

#intro
{
color:#fff;
text-align:center;
}
#login {

text-align:center;
margin-left:auto;
margin-right:auto;
color:#612411;
border: solid 2px #333;
border-radius:5px;
background:#92d7e6;
width:50vmin;
height:6rem;
}
#name, #password
{
 font-size: calc(10px + .5vmin);
margin:.2rem;
color:#333;
background:#fbdea4;
border-radius:5px;

}
#submit
{
background:#edaa63;
border-radius:5px;

}
